- @projects.select{ |p| p.daily_reports.any? }.each do |proj|
  .panel.panel-info
    .panel-heading
      .h4
        %i.fa.fa-laptop
          = "Reports | #{proj.name}"
    .panel-body
      .table-responsive.less-width
        %table.myTable.table.table-striped.tablesorter{ id: "daily_reports" }
          %thead
            %tr
              %th
                Date
              %th
                User
          %tbody
            - proj.daily_reports.each do |report|
              %tr
                %td
                  = link_to report.date, user_daily_report_manifest_reports_path(report.user_id, report)
                %td
                  = @user_emails[report.user_id]
