<%= form_for @facility, url: facility_path do |f| %>
    <p>
      <%= f.label(:name) %>
      <%= f.text_field(:name, value: @facility.name, :autocomplete => :off) %>
    </p>
    <%= f.submit 'Submit', :class => 'btn btn-cta btn-cta-tertiary' %>
<% end %>
