= form_for(company, :html => {:id => "edit_company_form"}) do |f|
  .form-group
    = f.label(:name)
    = f.text_field(:name, value: company.name, :autocomplete => :off)
  .form-group
    = f.submit "Submit", :class => "btn btn-primary"
