/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui
 *= require  jquery-tablesorter/theme.blue
 */

.container.nav-collapse {
  margin-top: 14px;
}

.brand {
  margin-top: 3px;
  margin-right: 54%;
}

body {
  padding-top: 70px;
}

.search-query {
  margin-left: 5%;
  margin-top: 5%;
  max-width: 90%;
}

.datetime-select {
  max-width: 15%;
}

/*.less-width {
  max-width: 75%
}*/

.sidebar-nav {
  max-width: 45%;
  margin-left: 55%;
}

.plate-search {
  margin-left: -13%;
  padding: 1%;
}

/*.plate-search-header {
  margin-left: 9%;
}*/

.export-submit{
  margin-left: 102%;
  margin-bottom: -11%;
}

.nav-name {
  color: #777777;
}

.header-link {
  color: cce0f1 !important;
}

.sign-in{
  max-width: 30%;
}
/*.dropdown-menu {
  margin-top: -2%;
}*/

/*.logout{
  margin-left: 55%;
}
*/
a.dropdown-toggle {
  color: #428bca !important;
  text-size: 20px !important;
}
